.product-list-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 450px; /* Aumenta la altura de la tarjeta */
}

.product-item img {
  width: 100%;
  height: auto;
  max-height: 250px; /* Ajusta la altura máxima de la imagen */
  object-fit: contain; /* Cambia object-fit a contain */
  border-radius: 10px;
}

.product-item-title {
  font-size: 1em;
  margin: 10px 0;
  text-align: center;
}

.product-item-price {
  font-size: 1.2em;
  color: #28a745;
  margin-bottom: 10px;
}

.product-item-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.product-item-button:hover {
  background-color: #0056b3;
}
